<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link href="css/app.css" rel="stylesheet" type="text/css"/>

    <meta charset="utf-8">

    <title>Quản lý tài khoản Võ Lâm Tranh bá</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name="viewport">
    <meta name="google-site-verification" content="52baU9zj-r9oG1viYj745u-Tbf_XBQUl94_GInan_HQ">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,700italic,500italic,400italic&amp;subset=latin,vietnamese"
          rel="stylesheet" type="text/css">
    <meta name="author" content="GAMOTA INC">
    <meta name="theme-color" content="#343c41">
    <meta property="og:site_name" content="Gamota">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-class="{'has-slide': hasSlide}" class="unknown-device" style="">
<div id="fb-root" class=" fb_reset">
    <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
        <div>
        </div>
    </div>
</div>

<div class="page" id="mainContainer" style="display: block;">
    <!-- uiView:  -->
    <ui-view name="header" class="ng-scope">
        <div id="header" class="header ng-scope">
            <div class="ng-view" autoscroll="true"></div>
            <div class="container">
                <div class="row">

                    <!-- ngIf: logged -->
                    <div ng-if="logged" class="dropdown pull-right ng-scope" uib-dropdown="" style="">
                        <a ng-href="#" id="drop_user" class="user dropdown-toggle" uib-dropdown-toggle=""
                           data-delay="1000" data-close-others="false" role="buton" aria-haspopup="true"
                           aria-expanded="false" href="#">
                            <span class="username ng-binding" ng-bind="username">Thang Ht</span>
                            <span><img ng-src="http://gamota.com/images/no-avatar.png" class="user-avata"
                                       src="http://gamota.com/images/no-avatar.png"></span>
                        </a>
                        <ul uib-dropdown-menu="" role="menu" aria-labelledby="split-button" class="dropdown-menu">
                            <li><a ng-href="/user/profile" href="/user/profile"> <span class="username ng-binding">Thang Ht</span></a>
                            </li>
                            <li><a ng-href="/user/profile" href="/user/profile"> <span><i class="ion-person"></i> Thông tin tài khoản  </span></a>
                            </li>
                            <li><a ng-href="/user/profile?state=message" href="/user/profile?state=message"> <span><i
                                    class="fa fa-envelope"></i> Tin nhắn  </span><span
                                    class="badge ng-binding">  0</span></a></li>
                            <li><a rel="nofollow" target="_blank" href="#"> <span><i
                                    class="fa fa-usd"></i> Nạp tiền  </span></a></li>
                            <li class="divider"></li>
                            <li><a ng-href="/" onclick="return false" ng-click="logout()" href="/">
                                <span> Thoát  </span></a></li>
                        </ul>
                    </div><!-- end ngIf: logged -->
                    <!-- ngIf: !logged -->
                    <div class="pull-right">
                        <div id="search-top">
                            <!-- ngIf: search -->
                            <div class="search-box top-search" ng-class="{active:search}">
                                <form class="ng-pristine ng-valid">
                                    <!--<input ng-model="keyword" ng-change="search_link()" type="search" placeholder="Tìm kiếm...">
                                    <button type="submit" class="btn-search" ng-click="handleSearch()"><i class="fa fa-search"></i></button>-->
                                    <input ng-model="keyword" type="search" placeholder="Tìm kiếm..."
                                           class="ng-pristine ng-untouched ng-valid ng-empty">
                                    <button type="submit" class="btn-search" ng-click="handleSearch()"><i
                                            class="fa fa-search"></i></button>
                                    <span class="close">×</span>
                                </form>
                            </div>
                            <div class="search-icon" ng-click="search = !search">
                                <!-- ngIf: search -->
                                <!-- ngIf: !search --><i ng-if="!search" class="fa fa-search ng-scope"> </i>
                                <!-- end ngIf: !search -->
                            </div>
                        </div>
                    </div>
                    <div id="navigation">
                        <div class="navi-backdrop" style="display: none;"></div>
                        <div class="animated-arrow"><span></span></div>
                        <div class="navigation">
                            <ul>
                                <li class="nav-home"><a href="/">Trang chủ</a>
                                </li>
                                <li class="ng-scope"><a class="" href="#" style=""><i
                                        class="ion-ios-game-controller-b"></i> Trang chủ</a>

                                </li>

                                <li>
                                    <a ng-href="/giftcode" ng-class="{active:active('/giftcode')}" href="/giftcode"><i
                                            class="fa fa-gift"></i> Tải Game</a>
                                </li>
                                <li>
                                    <a ng-href="/giftcode" ng-class="{active:active('/giftcode')}" href="/giftcode"><i
                                            class="fa fa-gift"></i> Cộng đồng</a>
                                </li>
                                <li><a href="#"><i class="fa fa-download"></i> Giftcode</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui-view><!-- uiView:  -->
    <ui-view name="laucher" class="ng-scope"><!-- GAMOTA launcher -->
        <!-- ngIf: vm.os != 'android' && vm.os!= 'ios' -->
        <div class="fixed_launcher md-hidden hidden-sm ng-scope" ng-if="vm.os != 'android' &amp;&amp; vm.os!= 'ios'"
             ng-class="{'hidden': hiddenLauncher}">

            <div class="launcher_title">
                <p class="launcher">Tải</p>
                <p class="launcher">Game </p>
                <p class="launcher">Ngay</p>
            </div>
            <div class="launcher_btn">
                <a href="/launcher/install-guide" target="_blank" class="btn-launcher"
                   ng-click="sendToGa($event, 'Download Launcher(Popup)')">Tải ngay</a>
            </div>
        </div>
    </ui-view>
    <ui-view class="ng-scope"><!-- uiView:  -->
        <ui-view class="ng-scope">
            <div class="content-wrapper ng-scope">
                <div class="user_profile">
                    <div class="container">
                        <div class="">
                            <div class="sidebar col-md-3">
                                <div class="userpro_menu_tablist">
                                    <div class="userpro-box"><a ng-href="#" class="avatar" href="#"><img
                                            ng-src="http://gamota.com/images/no-avatar.png" alt=""
                                            src="http://gamota.com/images/no-avatar.png"></a><a href="#"
                                                                                                class="username"><span
                                            class="ng-binding">Thang Ht</span></a><span class="ng-binding">UserID: 34499938</span>
                                    </div>
                                    <div class="userpro-menu border">
                                        <ul>
                                            <li><a href="#"><i class="ion-person"></i> Thông tin tài khoản</a><span
                                                    class="iconlist"><i class="fa fa-angle-right"></i></span>
                                            </li>
                                            <li class="has-icon-new active"><a href="doi-mat-khau"><i
                                                    class="ion-lock-combination"></i>Đổi mật khẩu</a><span
                                                    class="iconlist"><i class="fa fa-angle-right"></i></span>
                                            </li>
                                            <li><a href="#"><i class="fa fa-usd"></i> Nạp tiền</a><span
                                                    class="iconlist"><i class="fa fa-angle-right"></i></span>
                                            </li>

                                            <li><a rel="nofollow"
                                                   ng-href="https://support.gamota.com/login.php?access_token=A-A140245-U34499938-FM0VAW-F711531F5D5156FE"
                                                   target="_blank"
                                                   href="https://support.gamota.com/login.php?access_token=A-A140245-U34499938-FM0VAW-F711531F5D5156FE"><i
                                                    class="fa fa-comments"></i> Quản lý phản hồi</a><span
                                                    class="iconlist"><i class="fa fa-angle-right"></i></span>
                                            </li>
                                            <li ng-class="{active:isSet('contact')}"><a
                                                    ng-href="/user/profile?state=contact"
                                                    href="/user/profile?state=contact"><i class="fa fa-commenting"></i>
                                                Gửi phản hồi</a><span class="iconlist"><i class="fa fa-angle-right"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- information account-->
                            <div class="content-main col-md-9">
                                <div class="grid-category green user_profile_main">
                                    <div ng-show="isSet('account-info')" role="tabpanel"
                                         ng-class="{active:isSet('account-info')}" class="active">
                                        <div class="heading">
                                            <div class="title title_module"><i class="ion-ios-person-outline"></i> Thông
                                                tin tài khoản <span class="title-narrow"></span></div>
                                        </div>
                                        <div class="box-content">
                                            <div class="col-md-12">
                                                <flash-message duration="5000" class="ng-isolate-scope">
                                                    <!-- ngRepeat: flash in $root.flashes track by $index --></flash-message>
                                                <div class="userinfo-box">
                                                    <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-date"
                                                          ng-submit="update()" name="userInfo">
                                                        <div class="form-group user-id-form">
                                                            <label for="userId" class="col-sm-3 control-label">UserID
                                                                :</label>
                                                            <div class="col-sm-8">
                                                                <p class="form-control-static"><b class="ng-binding">34499938</b>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="email" class="col-sm-3 control-label">tên tài
                                                                khoản</label>
                                                            <div class="col-sm-8">
                                                                <input id="inputEmail" type="email" disabled="disabled"
                                                                       value="tadoken" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="email" class="col-sm-3 control-label">Email
                                                                :</label>
                                                            <div class="col-sm-8">
                                                                <input id="inputEmail" type="email" disabled="disabled"
                                                                       value="tadoken1989@gmail.com"
                                                                       class="form-control">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="phone" class="col-sm-3 control-label">Điện thoại
                                                                :</label>
                                                            <div class="col-sm-8">
                                                                <input id="phone" type="text"
                                                                       class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern"
                                                                       value="01633.247.223" ng-required="true"
                                                                       name="phone" required="required" disabled="">
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <label for="address" class="col-sm-3 control-label">Mật khẩu
                                                                cấp 1</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" id="address" ng-model="data.address"
                                                                       value="**********"
                                                                       class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                                                       disabled="">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="address" class="col-sm-3 control-label">Mật khẩu
                                                                cấp 2</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" id="address" value="************"
                                                                       ng-model="data.address"
                                                                       class="form-control ng-pristine ng-untouched ng-valid ng-empty">
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end information account-->
                        </div>
                    </div><!-- container -->
                </div>
            </div>
        </ui-view>
    </ui-view><!-- uiView:  -->
    <ui-view name="footer" class="ng-scope">
        <div class="footer ng-scope">
            <div class="container">

                <div id="logo" class="col-lg-2 col-md-2">
                    <a href="/"><img alt="Gamota" title="Gamota" src="images/logo.png"></a>
                </div>
                <div class="block-hotline col-lg-10 col-md-10">
                    <div class="h-label">
                        <div class="text">Hotline</div>
                    </div>
                    <div class="phone-number">
                        <a href="tel:19006855" rel="nofollow"><h3>1900 6855</h3></a>
                    </div>
                    <div class="copyright text-center">Hệ thống quản lý tài khoản Võ Lâm Tranh Bá</div>
                    <div class="copyright text-center">Địa chỉ hệ thống : taikhoan.vltranhba.com</div>
                </div>


            </div>
        </div>
    </ui-view>
</div>
<!-- Chat box -->
<div class="chat-box active">
    <a class="title_bar" ng-click="vm.change()">
        <div class="icon-chat-box">
            <img src="images/icon-chat-box.png" alt="">
        </div>
        <b>Chat với chúng tôi</b>
        <span class="btn btn-close"><i class="icon-close"></i></span>
    </a>
    <div class="cx-content">
        <div class="box-content">

            <div id="chat-mess" class="tab_block">
                <div class="fb-page" data-href="https://www.facebook.com/vltranhba" data-tabs="messages"
                     data-height="320" data-small-header="true" data-adapt-container-width="true"
                     data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/vltranhba" class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/vltranhba">Võ Lâm Tranh Bá - Công Thành Chiến</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>